@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Oswald:wght@200..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,168,255,1) 0%, rgba(255,201,36,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    display: block;
    margin: 0 auto;
    width: 500px; 
  }

.containerPokemon{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    
}

.pokemon{
    background-color: rgb(196, 125, 100);
    border-radius: 15px;
    box-shadow: 0 10px 10px black;
    margin: 10px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    
}

.pokemon:hover {
    transform: scale(1.4); 
}

.imagem-pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6) ;
    border-radius: 50%;
    width:160px;
    height:160px;
    border: 2px solid gold; 
}

.imagem-pokemon img{
    max-width: 90%;
}

.informacoes{
    margin-top: 20px;
}

.numero{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;

    background-color: rgba(0, 0, 0, 0.15);
    padding: 2px 13px;
    border-radius: 10px;
    font-size: 0.8rem;   
}

.nome{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-style: normal;
    margin: 15px 0 7px;
    letter-spacing: 1.5px;

}

.tipo{
    list-style-type: none;
    margin-bottom: 5px;
    border: 1px solid black; 
    border-radius: 10px;
    padding: 2px 13px;
    font-size: 0.8rem;
    color: black;
    background-color: inherit;
}

.grass { background-color: #9bcc50; }
.fire { background-color: #fd7d24; }
.water { background-color: #4592c4; }
.bug { background-color: #729f3f; }
.poison { background-color: #b97fc9; }
.normal { background-color: #a4acaf; }
.flying { background-color: #89f; }
.electric { background-color: #eed535; }
.ground { background-color: #db5; }
.fairy { background-color: #fdb9e9; }
.fighting { background-color: #d56723; }
.psychic { background-color: #f366b9; }
.rock { background-color: #a38c21; }
.dragon { background-color: #76e; }
.ice { background-color: #51c4e7; }
.dark { background-color: #754; }

